<div class="wrapper">

    

    <form class="form-group">
        <h4>Counselling @ Mahadeeni - Make an appointment</h4>
      <div class="theimg">
          <img src="http://www.mahadeeni.co.za/assets/appoitmentimage.jpg" alt="">
      </div>
      
      <div class="theform">
        <div *ngIf="loader" class="loader">
          SENDING....
        </div>
        <div *ngIf="result && !loader"  class="result">
          Thank you we will contact you shortly.
        </div>
      
      <small>Please fill out all information.</small>
      <div class="form-group"  *ngIf="!complete" >
        {{pload | json}}
        <input [(ngModel)]="pload.fname" type="text" class="form-control" #fname name="fname" placeholder="First Name" required autofocus autocomplete="on">
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        
        <input [(ngModel)]="pload.lname" type="text" class="form-control" #lname name="lname" placeholder="Last Name" required autofocus autocomplete="on">
        <span class="help-block"></span>
      </div>  
      <div class="form-group">
        
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pload.em"  type="email" class="form-control" #em name="em" placeholder="Email address" required>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="email_address_confirm">Please re-confirm your email address.</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pload.em"  type="email" class="form-control" #em2 name="em2" placeholder="Confirm email address" required autocomplete="off">
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        
        <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="pload.tel"  type="tel" class="form-control" #tel name="tel" placeholder="+27xxxxxxxxx">
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pload.bdate"  type="date" #bdate class="form-control" name="bdate">
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pload.age"  type="number" #age class="form-control" name="age" placeholder="Age" min="1" max="110" required>
        <span class="help-block"></span>
      </div>     
      <div class="form-group">
        <label for="dob">Proposed Appointment Date</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pload.adate" name="" type="date" #adate class="form-control" id="adate">
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pload.attendees" name="" type="number" #attendees class="form-control" id="1" placeholder="patient number" min="1" max="110" required>
        <span class="help-block"></span>
      </div>     
      <a  (click)="onSubmit()" class="btn btn-lg btn-primary btn-block" >Make appointment</a >
    </div>
    </form>
    <div class="anonform">
        <h4>Send an anonymous message</h4>
        
        <div class="theimg">
            <img src="http://www.mahadeeni.co.za/assets/message.png" alt="">
        </div>
        <form class="form-group">
          <small>Please fill out all information.</small>
          <div class="form-group">
            
            <input type="text" class="form-control" id="first_name" placeholder="First Name" required autofocus autocomplete="on">
            <span class="help-block"></span>
          </div>
      
          <div class="form-group">     
            <input type="email" class="form-control" id="email_addr" placeholder="Email address" required>
            <span class="help-block"></span>
          </div>
            <div class="form-group">
            <input type="tel" class="form-control" id="phone_number" placeholder="+27 xx xxx xxxx">
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" id="message" cols="30" rows="10"></textarea>
            <span class="help-block"></span>
          </div>
         
          <button class="btn btn-lg btn-primary btn-block" type="submit">SEND</button>
        </form>
      
      </div> <!-- /container -->
  </div> <!-- /container -->