<footer>
    <div class="footer-gray">
      <div class="footer-custom">
        <div class="footer-lists">
          <div class="footer-list-wrap">
            <h6 class="ftr-hdr">Contact Mahadeeni</h6>
            <ul class="ftr-links-sub">
              <li>+27 11 342 1452</li>
              <li>+27 76 842 8900</li>
            </ul>
            <h6 class="ftr-hdr">related Institutes</h6>
            <ul class="ftr-links-sub">
              <li><a target="_blank" href="https://www.amfoundation.net" >Al Muslimeen Foundation</a></li>
              <li><a target="_blank" href="https://islamiconlineuniversity.com/" >Islamic Online university</a></li>
              <li><a target="_blank" href="https://www.proclaim.org.za/" >Proclaim.org.za</a></li>
              <li><a target="_blank" href="https://www.masjid-ul-muslimeen.org/" >Masjid-Ul-Muslimeen</a></li>
            </ul>
          </div>
          <!--/.footer-list-wrap-->
          <div class="footer-list-wrap">
            <h6 class="ftr-hdr">Customer Service</h6>
            <ul class="ftr-links-sub">
              <li><a routerLink="/contact" >Contact Us</a></li>
              <li><a routerLink="/counselling" >Counselling</a></li>
              <!-- <li><a routerLink="" >Donations</a></li>
              <li><a routerLink="" >Returns</a></li>
              <li><a routerLink="" >International Orders</a></li>
              <li><a routerLink="" >Gift Cards</a></li>
              <li><a routerLink="" >FAQs</a></li> -->
            </ul>
          </div>
          <div class="footer-list-wrap">
            <h6 class="ftr-hdr"></h6>
            <ul class="ftr-links-sub">
              <li><img class="mlogo" src="../../assets/icon-256x256.png" alt="logo"></li>
            </ul>
          </div>
          <!-- <div class="footer-list-wrap">
            <h6 class="ftr-hdr">Projects</h6>
            <ul class="ftr-links-sub">
              <li><a href="/asp/aboutus/default-asp/_/posters.htm" rel="nofollow">Our Company</a></li>
              <li><a href="http://corporate.art.com/careers" rel="nofollow">Careers</a></li>
              <li><a href="/asp/landing/artistrising" rel="nofollow">Artist Rising</a></li>
              <li><a href="/~/art-for-business" rel="nofollow">Business &amp; Trade Sales</a></li>
              <li><a href="http://affiliates.art.com/index.aspx" rel="nofollow">Affiliate Program</a></li>
              <li><a href="/catalog" rel="nofollow"><strong>Shop Our Catalog</strong></a></li>
              <li><a href="http://blog.art.com" rel="nofollow">ART.COM BLOG</a></li>
            </ul>
          </div> -->
          <!--/.footer-list-wrap-->
          <!-- <div class="footer-list-wrap">
            <h6 class="ftr-hdr">My Account</h6>
            <ul class="ftr-links-sub">
              <art:content rule="!loggedin">
                <li class="ftr-Login"><span class="link login-trigger">Access My Account</span></li>
                <li><span class="link" onclick="link('/asp/secure/your_account/track_orders-asp/_/posters.htm')">Track My Order</span></li>
              </art:content>
              <art:content rule="loggedin">
                <li class="ftr-Login"><span class="link ftr-access-my-account">Access My Account</span></li>
                <li><span class="link" onclick="window.location.href = getProfileKey() + '?pagetype=oh';">Track My Order</span></li>
              </art:content>
            </ul>
          </div> -->
          <!--/.footer-list-wrap-->
        </div>
        <!--/.footer-lists-->
        <div class="footer-email">
          <h6 class="ftr-hdr">Sign up for our community newletter</h6>
          <div id="ftr-email" class="ftr-email-form">
            <form id="ftrEmailForm" method="post" action="https://www.mahadeeni.co.za/singup.php">
              <div class="error">Please enter a valid email address</div>
              <input type="text" name="email_address_" id="ftrEmailInput" class="input" placeholder="Enter email address" />
              <!--
                  -->
              <input type="submit" class="button" value="SUBMIT" />

            </form>
          </div>
          <!--/.ftr-email-form-->
          <div class="ftr-email-privacy-policy"></div>
        </div>
        <!--/.footer-email-->
        <div class="footer-social">
          <h6 class="ftr-hdr">Follow Us</h6>
          <ul>
            <li>
              <a href="https://www.facebook.com/" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="24" height="24" alt="Like us on Facebook" src="../../assets/fb.png">
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/" title="Google+" onclick="_gaq.push(['_trackSocial', 'GooglePlus', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="24" height="24" alt="Follow us on Google+" src="../../assets/gplus.png">
              </a>
            </li>
            <li>
              <a href="https://pinterest.com/" target="_blank">
                <img width="24" height="24" alt="Follow us on Pinterest" src="../../assets/pin-badge.png">
              </a>
            </li>
            <li>
              <a target="_blank" href="http://instagram.com/">
                <img width="24" height="24" alt="Follow us on Instagram" src="../../assets/instagram-badge.png">
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/" title="Twitter" onclick="_gaq.push(['_trackSocial', 'Twitter', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="67" alt="Follow us on Twitter" src="../../assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
        <!--/.footer-social-->
        <div class="footer-legal">
          <p>&copy; mahadeeni.co.za All Rights Reserved. | <a routerLink="/about" rel="nofollow">Privacy Policy</a> | </p>

        </div>
        <!--/.footer-legal-->
        <div class="footer-payment donationbutton">
          <ul>
            <!-- <li class="ftr-stella">
              <span title="Stella Service" onclick="openLink('http://www.stellaservice.com/profile/Art.com/')"></span>
            </li>
            <li>
              <span onclick="clickTrack(); return false;" onmouseover="this.style.cursor='pointer'"><img border="0" alt="HACKER SAFE certified sites prevent over 99.9% of hacker crime." src="https://images.scanalert.com/meter/www.art.com/31.gif"></span>
            </li>
            <li class="ftr-bbb">
              <span title="BBB" onclick="openLink('http://www.bbb.org/raleigh-durham/business-reviews/art-suppliers/artcom-inc-in-raleigh-nc-5001914')"></span>
            </li> -->
          </ul>
        </div>
        <!--/.footer-payment-->
      </div>
      <!--/.footer-custom-->
    </div>
    <!--/.footer-gray-->
  </footer>
