<div class="contain">

  <div class="wrapper">
    <div class="contacts">
      <h3>Our contact Details</h3>

      <ul>
        <li>871 Arcadia Street Arcadia Pretoria</li>
        <li>+27 12 342 1452 or 082 827 8889</li>
        <li>info@mahadeeni.co.za</li>
      </ul>
    </div>
    

    <div class="form">
      <h3>Send us a message</h3>
      <form action="">
        <p>
          <label for="">Your name</label>
          <input type="text">
        </p>
        <p>
          <label for="number">number</label>
          <input type="text">
        </p>
        <p>
          <label for="">Email Address</label>
          <input type="text">
        </p>
        <p>
          <label for="">Subject</label>
          <input type="text">
        </p>
        <p class="full-width">
          <label for="">Write your message</label>
          <textarea name="" id="" cols="30" rows="7"></textarea>
        </p>
        <p class="full-width">
          <button>Send</button>
        </p>
      </form>
    </div>
  </div>
</div>
<div class="banking">
    <h3>Banking Details</h3>

    <ul>
       <li> Account number	- 62739549204 -	رقم حساب</li>
        <li>Bank name	- FIRST NATIONAL BANK (FNB) -	اسم البنك</li>
        <li>swift code - FIRNZAJJXXX -	رقم التحويل من الخارج</li>
      
    </ul>
  </div>