<div class="contain">
  
  <img style="border-radius: 10px;" src="https://www.mahadeeni.co.za/assets/icon-256x256.png" alt="">  
  <h1>About us</h1>
  
  <div class="wrapper">
   <h3>Vision</h3>
   <li style="list-style-type: none;">
    To be the ideal hub for the Muslim community where
    developing and educating children and adults on the
    teachings of the Quran and Sunnah is the focus in
    addition to networking, outreach projects, planned events
    and counselling services.
   </li>
  </div>


  <div class="wrapper">
    <h3>Mission</h3>
    <li style="list-style-type: none;">
      We live in times where the environment challenges our
faith on a daily basis. The prophet Muhammed صلى الله عليه
وسلم said – &quot;…there will come a time when holding on to
your faith will be like holding on to hot coal&quot; Sahih. These
times are upon us.
    </li>
    <li style="list-style-type: none;">
      Globalisation and the power of new technology, the
internet and social platforms at our fingertips is a double-
edged sword. Traditional borders no longer exist in this
world except as territorial boundaries. New Communities
can become globalised communities. Countries, cultures,
groups and individuals can extend their Influence via
technology transcending all borders. The world can be a
better place if we use these platforms responsibly and
productively. However, it is a window into the stark reality
of a world with as much darkness as there is light. Hence,
no matter how much we try to protect our children and
ourselves, it will be a great challenge to balance our
values within this environment. It is a greater challenge
when you are living in an area where there are limited
peers and people to socialise with that share the same
values and norms.
    </li>
    <li style="list-style-type: none;">
      In order to preserve the teachings of Islam and to prepare
the youth for a time other than the current time it is
imperative that we take responsibility for the situation. We
aim to develop youth and individuals that are humble,

respect all creatures, inanimate and animate objects
because everything is a gift from Allah. Humility and
respect for each other and for the environment, is indeed
an expression of gratitude.
    </li>
    <li style="list-style-type: none">
      In order for us to attain within ourselves, respect and
      humility and to be knowledgeable and grateful servants of
      Allah we must measure our performance against the
      teachings based on evidence from the Quran and Hadith
      (tradition of the prophet Muhammed صلى الله عليه وسلم ).
    </li>
    <li style="list-style-type: none">
      Therefore, we aim to develop a nation that possesses
      sound knowledge and good character based on the
      Quraan and Sunnah. Both these fundamental foundations
      of belief emphasise seeking knowledge and good
      character and reiterate it constantly in various verses of
      the Quran and in the Sunnah of the Prophet Muhammed
      صلى الله عليه وسلم . It is important to produce students
      adorned with good character because Good character is
      the foundation for creating unity in the Nation of
      Muhammed صلى الله عليه وسلم. With good character,
      animosity is subdued and Muslims can learn to cooperate
      with one another amicably and live in harmony. Islam
      teaches us what good character is and how to attain it.
      Furthermore, if a student is educated, he/she will realise
      that life in this world is inseparable from the life to come.
      His/Her focus will not be on this life at the expense of the
      Life to come. ALLAH will and must be at the centre of our
      World. Indeed, we are grateful that HE blessed us with
      two gifts, HE gave us life and then HE blessed us with
      faith.
    </li>
    <h3>Mahadeeni objectives:</h3>
    <li>
      To provide a hub for Muslim families in the area to foster
unity and true brotherhood through Islamic activities for
the youth, adults and families.
    </li>
    <li>
      To educate young adults, women and men and increase
their knowledge of Islam in relation to contemporary
issues through hosting regular Islamic lectures by Islamic
Scholars on diverse topics.
    </li>

    <li>
      To offer classes with the aim to study and reflect on the
verses of the Quran and the science behind the
compilation of Hadith as well as the lessons derived from
it.
    </li>
    <li>
      To host fun Islamic halal social activities for the youth and
their families.
    </li>
    <li>
      To be of service to the Muslim community by creating
outreach projects with an aim to empower.
    </li>
    <li>
      To offer a networking platform between Islamic
organisations and masajid countrywide and to assist them
in sourcing funding for their small projects.
    </li>
    <li>
      To establish a network and webpage to assist donors from
within South Africa and outside of South Africa in studying
the needs and project plans of organisations.
    </li>
    <li>
      To assist other organisations where need is required.
    </li>
   </div>



</div>


