

<!-- <div class="page postspage">
	<header class="page-header wrapper">

    <h1>Posts @ Mahadeeni</h1>
    <span>other posts : </span>&nbsp;
    <span>[A community hub]</span>&nbsp;
    <span>[link]</span>&nbsp;
    <span>[link]</span>&nbsp;
    <span>[link]</span>&nbsp;
    <span>[link]</span>&nbsp;
    <span>[link]</span>&nbsp;
    <span>[link]</span>&nbsp;
    <span>[link]</span>&nbsp;

	</header>

	<main>
		<article class="content">
			<header class="entry-header">
				<h2 class="entry-title">   Title: A community hub</h2>
			</header>

			<div class="byline">
				<small>By mahadeeni
					<time>3 days ago</time>
				</small>
			</div>

			<div class="entry-content">

			</div>

			<aside class="pullquote">Article subheading, hightlight / hadith : Developing and educating children and adults on the
        teachings of the Quran and Sunnahs</aside>

			<div class="continued">
        <p>To provide a hub for Muslim families in the area</p>
        <p>
        To foster unity and true brotherhood through Islamic activities for
        the youth, adults and families.
        </p>

          <p>
            To educate young adults, women and men and increase
        their knowledge of Islam in relation to contemporary
        issues through hosting regular Islamic lectures by Islamic
        Scholars on diverse topics.
          </p>

          <p>To offer classes with the aim to study and reflect on the
        verses of the Quran and the science behind the
        compilation of Hadith as well as the lessons derived from
        it.</p>

          <p>To host fun Islamic halal social activities for the youth and
        their families.</p>
          <p>To be of service to the Muslim community by creating
        outreach projects with an aim to empower.</p>
        <p>To offer confidential counselling services to individuals,
        couples and families.</p>
        <p>
        To offer a networking platform between Islamic
        organisations and masajid countrywide and to assist them
        in sourcing funding for their small projects.
        </p>

          <p>
            To establish a network and webpage to assist donors from
        within South Africa and outside of South Africa in studying
        the needs and project plans of organisations.
          </p>
          <p>
            To assist other organisations where need is required.
          </p>			</div>
		</article>

		<footer>
			<h2 class="section-title">other posts</h2>

			<article class="related">
				<h1 class="related-title">Title of related post</h1>
				<p>Related content. Pie tootsie roll lollipop cake cotton candy fruitcake.</p>
			</article>

			<article class="related">
				<h1 class="related-title">Title of related post</h1>
				<p>Related content. Pie tootsie roll lollipop cake cotton candy fruitcake.</p>
			</article>
		</footer>
	</main>
</div> -->






<app-allposts></app-allposts>


<!--<app-posts-crud></app-posts-crud>-->
