<!-- from database highlighted items -->
<main>
    <div class="dailyBanner fadeIn">
        <div class="tibb" *ngFor="let tip of tipPayload;let i $index">
            <h2>{{tip.title}}</h2>
              <div class="dailycontent">
                <img class="tipImage" src="../../../assets/{{tip.image}}" alt="">
                <p>{{tip.tiptext}}</p>
                <!-- <button (click)="loadTip(tip.action)" class="readButton">READ</button> -->
              </div>
            </div>
    </div>
  </main>

