<!-- main app container -->
form status : {{homeForm.valid}} <br>
banners: 

    <div class="container fadeIn">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Home Page Meta Data</h2>
                <form [formGroup]="homeForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Title</label> <br>
                        <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label> <br>
                        <input type="text" formControlName="desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }" />
                        <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                            <div *ngIf="f.desc.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>image</label> <br>
                        <input type="text" formControlName="image" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                            <div *ngIf="f.desc.errors.required">image is required</div>
                            <div *ngIf="f.image.errors.image">image must be a valid image address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Action</label> <br>
                        <input type="link" formControlName="link" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.link.errors }" />
                        <div *ngIf="submitted && f.link.errors" class="invalid-feedback">
                            <div *ngIf="f.link.errors.required">link is required</div>
                            <div *ngIf="f.link.errors.minlength">link must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container fadeIn">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Home Page Banners</h2>
                <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Banner Title</label> <br>
                        <input type="text" formControlName="bannerTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bannerTitle.errors }" />
                        <div *ngIf="submitted && f.bannerTitle.errors" class="invalid-feedback">
                            <div *ngIf="f.bannerTitle.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Banner Description</label> <br>
                        <input type="text" formControlName="bannerDesc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bannerDesc.errors }" />
                        <div *ngIf="submitted && f.bannerDesc.errors" class="invalid-feedback">
                            <div *ngIf="f.bannerDesc.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>A link ro an image]</label> <br>
                        <input type="text" formControlName="bannerImage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.bannerImage.errors" class="invalid-feedback">
                            <div *ngIf="f.desc.errors.required">bannerImage is required</div>
                            <div *ngIf="f.bannerImage.errors.bannerImage">bannerImage must be a valid image address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>link</label> <br>
                        <input type="link" formControlName="link" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.link.errors }" />
                        <div *ngIf="submitted && f.link.errors" class="invalid-feedback">
                            <div *ngIf="f.link.errors.required">link is required</div>
                            <div *ngIf="f.link.errors.minlength">link must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Add Banner</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div *ngFor="let banner of bannerPayload;index as i">
        <div>
            <p>{{bannerIds[i]}}</p>
            <p></p>
            <p>{{banner.action}}</p>
            <p>{{banner.description}}</p>
            <img class="bannerImage"  width="300" src="../../../../../assets/{{ banner.image }}" alt="">    
            <div class="actions">
                <button (click)="removeBanner(bannerIds[i], i)" class="actionButton">
                    delete
                </button>
            </div>
        </div>
        
    </div>