<div class="grid">
  <div class="grid-item b"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item b"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>