
  
  <nav role="navigation">
    <ul class="main">
      <li class="dashboard"><a href="#">All Sections</a></li>
      <li class="edit"><a (click)="null">home</a></li>
      <li class="edit"><a (click)="null">Events</a></li>
      <li class="edit"><a (click)="null">Posts</a></li>
      <li class="edit"><a (click)="null">Posts</a></li>
      <li class="edit"><a (click)="null">Counselling</a></li>
      <li class="edit"><a (click)="null">Gallery</a></li>
      <li class="edit"><a (click)="null">Contact</a></li>
      <li class="edit"><a (click)="null">About</a></li>
      

      <li class="comments"><a href="#">Projects</a></li>
      <li class="users"><a href="#">Manage Users</a></li>
    </ul>
  </nav>
  
  <main role="main">
      
    <section class="panel important">
      <div class="titlewrap">
            <img src="https://www.mahadeeni.co.za/assets/icon-256x256.png" alt="">
            <div class="welcome">
                    <h2>Welcome to Your Dashboard </h2>
                    <ul>
                      <li>Use the tools in this section to manage Mahadeeni sections</li>
                      <li>for any queries and support contact info@mahadeeni.co.za</li>
                      
                    </ul>
            </div>
            
      </div>
      
    </section>
    <section class="panel">
        <h2 (click)="toggleSection('home')" >home</h2>
        <app-homeedit *ngIf="showHome">
        
        </app-homeedit>
    </section>
    
    <section (click)="toggleSection('about')" class="panel">
        <h2>about</h2>
        <app-aboutedit *ngIf="showAbout"></app-aboutedit>
    </section>
    <section (click)="toggleSection('contact')" class="panel"><h2>contact</h2></section>
    <section (click)="toggleSection('galley')" class="panel"><h2>gallery</h2></section>
    
    <section (click)="toggleSection('projects')" class="panel">
      <h2>Projects</h2>
      <ul>
        <li><b>0 </b>Published Posts</li>
        
        <li>Most popular post: <b>This is a post title</b>.</li>
        <li>
            <table>
                <tr>
                  <th>image</th>
                  <th>title</th>
                  <th>funding</th>
                  <th>actions</th>
                  <th>status</th>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                
              </table>
        </li>
      </ul>
    </section>
    <section (click)="toggleSection('events')" class="panel">
      <h2>Events</h2>
      <ul>
        <li><b>0 </b>Published Events</li>
        
        <li>Most popular event: <b>This is a event title</b>.</li>
        <li>
            <table>
                <tr>
                  <th>image</th>
                  <th>title</th>
                  <th>funding</th>
                  <th>actions</th>
                  <th>status</th>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                
              </table>
        </li>
      </ul>
    </section>
    <section (click)="toggleSection('posts')" class="panel">
      <h2>Posts</h2>
      <ul>
        <li><b>0 </b>Published Posts</li>
        
        <li>Most popular Post: <b>This is a Post title</b>.</li>
        <li>
            <table>
                <tr>
                  <th>image</th>
                  <th>title</th>
                  <th>funding</th>
                  <th>actions</th>
                  <th>status</th>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                <tr>
                  <td>Project name</td>
                  <td>Project Title</td>
                  <td>R 10 000</td>
                  <td>DONATE | Enquire</td>
                  <td>pending</td>
                </tr>
                
              </table>
        </li>
      </ul>
    </section>
    
    <!-- <section (click)="toggleSection('projects')" class="panel ">
      <h2>Write a post</h2>
      <form action="#">
        <div class="twothirds">
          <label for="name">Text Input:</label>
          <input type="text" name="name" id="name" placeholder="John Smith" />
  
          <label for="textarea">Textarea:</label>
          <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
  
        </div>
        <div class="onethird">
          <legend>Radio Button Choice</legend>
  
          <label for="radio-choice-1">
            <input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" /> Choice 1
          </label>
  
          <label for="radio-choice-2">
            <input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" /> Choice 2
          </label>
  
  
          <label for="select-choice">Select Dropdown Choice:</label>
          <select name="select-choice" id="select-choice">
            <option value="Choice 1">Choice 1</option>
            <option value="Choice 2">Choice 2</option>
            <option value="Choice 3">Choice 3</option>
          </select>
  
  
          <div>
            <label for="checkbox">
              <input type="checkbox" name="checkbox" id="checkbox" /> Checkbox
            </label>
          </div>
  
          <div>
            <input type="submit" value="Submit" />
          </div>
        </div>
      </form>
    </section> -->
   
  
  </main>
  <footer role="contentinfo">Easy Admin Style by Melissa Cabral</footer>