<div class="theimg">
  <img src="http://www.mahadeeni.co.za/assets/appoitmentimage.jpg" alt="">
</div>
<h1 class="formTitle">
    Make an appointment
</h1>
<p>
  Mahadeeni will send you available time slots for the date chosen and confirmation via email and phone.
</p>
<div *ngIf="result || alreadySubmitted" class="thanks">
  Thank you, A Mahadeeni counsellor will get back to you shortly. <br>
  <small>You have submitted appointment enquiry successfully : on : <span> {{ lastSubmitDate }}</span></small>
</div>
<div *ngIf="loader" class="loader">
  SENDING...
</div>
<form *ngIf="!result && !alreadySubmitted">

  <p>
    <label for="">Your name</label>
    <input value="" maxlength="50" placeholder="First name" name="n" #n type="text">
  </p>
  <p>
    <label for="">Your surname</label>
    <input value="" maxlength="50" placeholder="Your surname" name="n" #n type="text">
  </p>
  <p>
    <label for="number">Contact Number</label>
    <input value="" maxlength="12" placeholder=" +27123456789" name="number" #num type="text">
  </p>
  <p>
    <label for="">Email Address</label>
    <input value="" maxlength="40" placeholder="someone@somewhere.com" name="em" #em type="text">
  </p>
  <p>
    <label for="">When would you like ?</label>
    <input value="" placeholder="Date and time" name="adate" #adate type="date">
  </p>

  <p *ngIf="!loader" class="full-width">
    <a class="mybtn"  (click)="onSubmit(n.value,num.value,em.value,adate.value)">Request an Appointment</a>
  </p>

</form>

<!-- <img src="http://www.mahadeeni.co.za/assets/message.png" alt=""> -->
