
     
      


<nav id="primary-nav" aria-label="Main Navigation">
        <!-- <div class="logo">
                <img width="90" height="90" src="../../assets/navilogo-transparent.png" alt="Mahadeeni Logo">
        </div> -->
    <ul class="container">
        <li><a (click)="clicker('home')" color="primary" style="color: #33a1c9; " routerLink="/home">home</a></li>
        <li><a (click)="clicker('counselling')" color="primary" style="color: #33a1c9; " routerLink="/counselling">counselling</a></li>
        
       
        <li><a (click)="clicker('events')" color="primary" style="color: #33a1c9; " routerLink="/events">Events</a></li>
        <li><a (click)="clicker('contact')" color="primary" style="color: #33a1c9; " routerLink="/contact">contact</a></li>
        <li><a (click)="clicker('about')" color="primary" style="color: #33a1c9; " routerLink="/about">About</a></li>
        <li><a (click)="clicker('gallery')" color="primary" style="color: #33a1c9; " routerLink="/posts">posts</a></li>
        <li><a (click)="clicker('gallery')" color="primary" style="color: #33a1c9; " routerLink="/gallery">gallery</a></li>
  </ul>
</nav>