.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  
}




/* pink */
/* green */
a {
  text-decoration: none;
  counter-reset: blue;
}

.container {
  max-width: 1167px;
  margin: auto;
}

nav {
  /* background-color: #c74a73; */
  background-color: #fff;
  box-shadow: 0px 1px 20px #ccc;
  opacity: .8;
}
nav .container {
  padding: 0 10px;
}
nav ul {
  grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
  display: grid;
  align-content: center;
  grid-column-gap: 9px;
  grid-row-gap: 10px;
  list-style: none;
}
nav ul li a {
  font-size: 1.2rem;
  
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px;
  transition: 0.4s ease-in;
  font-family: 'Roboto', sans-serif;
}
nav ul li a:hover, nav ul li a:focus {
  /* background: #832846; */
  background: lightblue;
  color: black !important;
}
nav ul li a:active {
  border: 2px solid #0B6623;
}

.logo {
  background-color: #fff;
  width: 90px;
  border-radius: 80px;
  box-shadow: 1px 1px 5px #ccc; 
  padding:10px;
  margin:0px;
  transform: translate(5px,10px);
  float: left;
  opacity: .9;
}
