
     
      


<nav id="primary-nav" aria-label="Main Navigation">
    <ul class="container">
        <li><a (click)="clicker('home')" color="primary" style="color: lightskyblue; " routerLink="/home">home</a></li>
        <li><a (click)="clicker('contact')" color="primary" style="color: lightskyblue; " routerLink="/contact">contact</a></li>
        <li><a (click)="clicker('about')" color="primary" style="color: lightskyblue; " routerLink="/about">About</a></li>
        <li><a (click)="clicker('events')" color="primary" style="color: lightskyblue; " routerLink="/events">Events</a></li>
        <li><a (click)="clicker('gallery')" color="primary" style="color: lightskyblue; " routerLink="/posts">posts</a></li>
        <li><a (click)="clicker('gallery')" color="primary" style="color: lightskyblue; " routerLink="/gallery">gallery</a></li>
  </ul>
</nav>