<!-- <div class="wrapper">
    <br><br><br><br><br>
    <div *ngFor="let post of posts ">
        <form>
            <input type="text" name="title" value="{{post.title}}">
            <br><button class="btn btn-primary">UPDATE</button>
        </form>
        <form>
            <input type="text" name="title" value="{{post.subtitle}}">
            <br><button class="btn btn-primary">UPDATE</button>
        </form>
        <form>
            <input class="form-control" type="text" name="title" value="{{post.author}}">
            <br><button class="btn btn-primary">UPDATE</button>
        </form>
        
    <div *ngFor="let p of post.content">
    <textarea cols="30" rows="10">
        {{ p }}
    </textarea>
    <br><button class="btn btn-primary">UPDATE</button>
    </div>
    
  </div>
</div> -->

<div class="card-form">
    <form class="postsedit">
      <div class="form-title">ADD | REMOVE | EDIT POSTS</div>
      <div class="form-body">
        <div class="row" *ngFor="let post of posts; let i = index" >
          <div>
              <label>ID</label> <br>
              <small>{{currentIDs[i]}}</small> 
          </div>
          
          
          <label for="post.title">Post Title</label> <br>
          <input type="text" name="posts.title" value="{{post.title}}"> <br>
          <label for="post.subtitle">Post Subtitle</label> <br>
          <input type="text" name="posts.subtitle" value="{{post.subtitle}}"> 
          <label for="post.content">Content [each paragraph]</label> <br>
          <span  *ngFor="let p of post.content">
            <textarea rows="8" type="text" name="posts.content" value="{{p}}"></textarea></span> <br>
          <label for="post.author">Author</label>
          <input class="form-control" type="text" name="posts.author" value="{{post.author}}">
        </div>
        <div class="row" >
            
        </div>
      </div>
      <div class="rule"></div>
      <div class="form-footer">
          <button class="btn btn-primary" (click)="addNewPost()">ADD NEW POST </button>
          <button type="reset" class="btn btn-primary">RESET</button>

      </div>
    </form>


  </div>






