.wrapper {
padding: 5px;
/* display: flex;
align-items: top;
align-content: center; */
float: left;
}

input {
    padding: 5px;
    flex:1;
}

form, textarea {
    margin: 10px;
}

td,tr {
    padding: 5px;
    border: 1px solid #ccc;
}

th {
    text-transform: uppercase;
    border: 1px solid #000;
}
table > td {
    display:flex;
    flex-flow: wrap;
    flex-direction: column;
    flex-flow: column;
    margin: 5px;
}

